.footer
  .footer__top
    .footer__top__cell
      %h2 メルカリについて
      %ul
        %li 会社概要（運営会社）
        %li 採用情報
        %li プレスリリース
        %li 公式ブログ
        %li メルカリロゴ利用ガイドライン
        %li.sns-btn
          =link_to 'https://twitter.com/mercari_jp' do
            %i.fab.fa-twitter.fa-lg
          =link_to 'https://www.facebook.com/mercarijp' do
            %i.fab.fa-facebook
    .footer__top__cell
      %h2 ヘルプ&ガイド
      %ul
        %li メルカリガイド
        %li らくらくメルカリ便
        %li ゆうゆうメルカリ便
        %li 大型メルカリ便
        %li 車体取引ガイド
        %li メルカリあんしん・あんぜん宣言！
        %li 偽ブランド品撲滅への取り組み
        %li メルカリボックス
    .footer__top__cell
      %h2 プライバシーと利用規約
      .footer__top__cell__dual-box
        .footer__top__cell__dual-box--inner-left
          %ul
            %li プライバシーボリシー
            %li メルカリ利用規約
            %li あんしんスマホサポート制度に関する利用特約
            %li コンプライアンスポリシー
        .footer__top__cell__dual-box--inner-right
          %ul
            %li 個人データの安全管理に関わる基本方針
            %li 特定商取引に関する表記
            %li 資金決済法に基づく表示
            %li 法令遵守と犯罪抑止のために
            %li 返品・返金ポリシー
    .footer__top__cell
      %h2 国
      %ul
        %li 日本
        %li United States
  .footer__bottom
    = link_to root_path do
      = image_tag "mercari_logo_white.svg"
    .footer__bottom--copyright
      %small © 2019 Mercari
