.main-box__items__row--item-box
=link_to "/items/#{item.id}", method: :get do
  = image_tag((item.images.first.file), width: '213', height: '213') if item.images.present?
  .main-box__items__row--item-box--body
    %h4
    = item.name
    .main-box__items__row--item-box--body--price
      ¥
      = item.price
      %p (税込)
