.main-box__items__row--item-box
  =link_to '#' do
    = image_tag 'item_sample.jpg'
    .main-box__items__row--item-box--body
      %h4 ニコちゃんロングTシャツ 100
      .main-box__items__row--item-box--body--price
        ¥ 100
        %p (税込)
