.single-footer
  .nav
    %ul.clearfix
      %li
        = link_to 'プライバシーポリシー','#'
      %li
        = link_to 'メルカリ利用規約','#'
      %li
        = link_to '特定商取引に関する表記','#'

  .single-footer-logo
    = link_to image_tag('fooer-logo-gray.svg'), '#', class: 'footer-gray-logo'
  %p
    %small
      © 2019 Mercari
