.wrapper
  .signup-bar
    .signup-header
      =link_to image_tag("mercari_logo_color.svg"), "root_path", class: "sign-up-logo"
      %ul
        %li.first-list
          会員情報
          .radius
        %li
          電話番号認証
          .radius
        %li
          お届け先住所入力
          .radius
        %li#active-text
          支払い方法
          .radius#active
        %li
          完了
          .radius-last
  .single-main
    .single-main-container
      %h2.single-main-container__head 支払い方法
      .single-main-container__inner
        .single-main-container__inner--content
        %form#charge-form{action:creditcards_path, method: "POST"}
          .ur-form-group
            %span.charge-errors
            %label.creditcard カード番号
            %span.ur-form-group__span 必須
            %input.number.ur-form-group__field{maxlength: "16", name: "number", placeholder: "カード番号", type: "text", value: 4242424242424242,id: "payment_card_no"}/
            /=image_tag "credit.png", size:"350x30"
          .ur-form-group
            %label.creditcard 有効期限
            %span.ur-form-group__span 必須
            .ur-form-group-birthday__year
              .ur-form-group-birthday__wrap
                %select{name: 'exp_month', class: 'registration-form__expiration-date--month-form', id: 'payment_card_expire_mm'}
                  %option{value:  "01"} 01
                  %option{value:  "02"} 02
                  %option{value:  "03"} 03
                  %option{value:  "04"} 04
                  %option{value:  "05"} 05
                  %option{value:  "06"} 06
                  %option{value:  "07"} 07
                  %option{value:  "08"} 08
                  %option{value:  "09"} 09
                  %option{value:  "10"} 10
                  %option{value:  "11"} 11
                  %option{value:  "12"} 12
                %span.ur-form-group-birthday__labels 月
              .ur-form-group-birthday__wrap
                %select{name: 'exp_year', class: 'registration-form__expiration-date--year-form', id: 'payment_card_expire_yy'}
                  %option{:value => "2019"} 19
                  %option{:value => "2020"} 20
                  %option{:value => "2021"} 21
                  %option{:value => "2022"} 22
                  %option{:value => "2023"} 23
                  %option{:value => "2024"} 24
                  %option{:value => "2025"} 25
                  %option{:value => "2026"} 26
                  %option{:value => "2027"} 27
                  %option{:value => "2028"} 28
                  %option{:value => "2029"} 29
                %span.ur-form-group-birthday__labels 年
          .ur-form-group
            %label.creditcard セキリュティコード
            %span.ur-form-group__span 必須
            %input.cvc.ur-form-group__field{minlength: "3",maxlength: "4", name: "cvc", placeholder: "カード背面３桁または４桁の番号", type: "text",id: "payment_card_security_code"}/
            %button.ur-form__btn--submit{type: "submit",id: "card-save"} 次へ進む

  =render 'shared/sign-up-footer'

