%ul.pc-header-nav-parent-wrap{
  width: 215px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
  z-index: 1000;
  position: absolute;
  top: 44px;
  font-size: 14px;
  display: none;
  .pc-header-nav-parent{
    width: 448px;
    visibility: hidden;
    h6{
      display: flex;
      padding: 0 16px;
      line-height: 44px;
    }
  }
}