.visible-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .visible-pc {
    display: block;
  }
}
.pc-header {
  position: relative;
  z-index: 1001;
  background-color: $white;
  &__box {
    width: 700px;
    margin: 0 auto;
    padding: 8px 0 0;
    &__top {
      // height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &--logo a{
        // padding-top: 2px;
        // box-sizing: border-box;
        display: block;
        color: $main-font;
        img{
          width: 134px;
          height: 36px;
          vertical-align: middle;
        }
      }
      &--search-box{
        position: relative;
        width: 100%;
        margin-left: 45px;
        .search-box {
          width: 100%;
          background-color: #f5f5f5;
          height: 40px;
          line-height: 40px;
          margin: 0;
          padding: 0 42px 0 10px;
          border-radius: 4px;
          box-sizing: border-box;
        }
        .search-btn {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          width: 40px;
          height: 40px;
          font-size: 14px;
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
    &__navi {
      margin: 8px 0 0;
      display: flex;
      justify-content: space-between;
      ul.navi-icon{
        display: flex;
        height: 100%;
        padding: 0;
      }
      &--product {
        i{
          color: red;
        }
        li:first-child{
          padding-left: 0;
          position: relative;
          ul.pc-header-nav-parent-wrap{
            width: 215px;
            height: 610px;
            background-color: #fff;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
            z-index: 1000;
            position: absolute;
            top: 44px;
            font-size: 14px;
            display: none;
            li.pc-header-nav-parent{
              width: 100%;
              padding: 0;
              position: relative;
              h5{
                display: flex;
                padding: 0 16px;
                line-height: 44px;
              }
              ul.pc-header-nav-children-wrap{
                width: 215px;
                height: 610px;
                background-color: #fff;
                box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
                z-index: 1000;
                position: absolute;
                left: 215px;
                font-size: 14px;
                top: 0px;
                display: none;
                li.category-children{
                  width: 100%;
                  position: relative;
                  padding: 0;
                  h6{
                    display: flex;
                    padding: 0 10px;
                    line-height: 32px;
                  }
                }
                ul.pc-header-nav-grandchild-wrap{
                  width: 350px;
                  height: 610px;
                  background-color: #fff;
                  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
                  z-index: 1000;
                  position: absolute;
                  left: 215px;
                  font-size: 14px;
                  top: 0px;
                  display: none;
                  li.category-children{
                    width: 100%;
                    padding: 0;
                    h6{
                      display: flex;
                      padding: 0 10px;
                      line-height: 32px;
                    }
                  }
                }
              }
            }
          }
        }

        h5:hover{
          background-color: $red;
          color: white;
        }
        h6:hover{
          background-color: #EEEEEE;
        }
        li{
          display: inline-block;
          padding: 0 11px;
          cursor: pointer;
          position: relative;
          h2 {
            font-size: 14px;
            font-weight: bold;
            .pc-header__box__navi--product--root {
              position: relative;
              height: 44px;
              line-height: 32px;
              span {
                vertical-align: middle;
              }
            }
          }
        }
        span{
          font-weight: bold;
          font-size: 14px;
          color:#333;
        }
      }
      &--user {
        i{
          color: #c0c0c0;
        }
        margin: 0 0 0 auto;
        li:first-child {
          padding-left: 0;
        }
        @media screen and (min-width: 1068px) {
          li:first-child {
            padding: 0 14px;
          }
        }
        li:last-child{
          padding: 0 0 0 11px;
        }
        li{
          position: relative;
          display: inline-block;
          padding: 0 7px;
          cursor: pointer;
        }
        span{
          font-size: 14px;
          margin-left: 10px;
          color:#333;
        }
        &--list--link {
          position: relative;
          display: block;
          height: 44px;
          line-height: 32px;
          span {
            margin-left: 10px;
            font-size: 14px;
            vertical-align: middle;
          }
        }
      }

    }
  }
}

.white {
  background-color: white;
}

.top-carousel {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  .swiper-slide {
    height: 100vh;
    width: 100vw;
    text-align: center;
    img {
      width: 100%;
      object-fit: fill;
    }
  }
  .swiper-button-custome {
    background-image: none !important;
    margin: 0 35px;
    color: white;
    font-size: 48px;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin-right: 10px;
  }
  .swiper-pagination-bullet-active {
    background: rgba(0,0,0,0.5);
  }
}
@media screen and (min-width:768px) {
  .top-carousel {
    height: 290px;
  }
}
@media screen and (min-width: 1068px) {
  .top-carousel {
    height: 390px;
  }
}

.main-box{
  padding: 40px 0;
  h2{
    font-size: 28px;
    text-align: center;
    line-height: 1.4;
    font-weight: bold;
  }
  &__items{
    width: 940px;
    margin: 0 auto;
    h3{
      font-size: 22px;
      margin: 26px 11px;
      text-align: center;
      font-weight: bold;
      a{
        text-decoration: none;
        color: #0099E8;
      }
    }
    &__row,&__row-brand{
      width: 100%;
      height: 330px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      display: flex;
      a{
        text-decoration: none;
        background-color: #ffffff;
      }
      &--item-box{
        margin-left: 20px;
        width: 213px;
        height: 330px;
        img{
          width: 213px;
          height: 213px;
        }
        &--body{
          height: 110px;
          width: 100%;
          padding: 16px;
          box-sizing: border-box;
          position: relative;
          color: #333333;
          background-color: #ffffff;
          #text h4{
            font-size: 16px;
            width: 100%;
            height:48px;
            overflow: hidden;
          }
          &--price{
            position: absolute;
            bottom: 10px;
            left: 16px;
            width: 100%;
            height: 30px;
            font-size: 20px;
            color: #333333;
            p{
              font-size: 10px;
              color: #333333;
              text-align: left !important;
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

.fixed-circle-btn{
  position: fixed;
  bottom: 32px;
  right: 32px;
  text-decoration: none;
  background-color:#ea352d;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  color: #ffffff;
  text-align: center;
  z-index: 9999;
  .white_color{
    color: #ffffff;
  }
  p{
    margin-top: 32px;
    font-size: 22px;
  }
  i{
    margin: 0 auto;
    font-size: 60px;
  }
}

.app-banner{
  background: image-url("foot_background_img.jpg");
  width: 100%;
  height:260px;
  background-position: conter;
  background-size: cover;
  color: $white;
  display: flex;
  justify-content: center;
  &__content {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 750px;
    height: 260px;
    margin: 0 auto;
    color: white;
    &__inner {
      width: 420px;
      height: 100%;
      padding-block-start: 5%;
      h2 {
        margin: 0;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      p {
        color: $white;
        font-size: 24px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &--icon {
        display: flex;
        justify-content: space-between;
        margin: 20px 0 0;
        .mercari-logo {
          width: 68px;
          vertical-align: middle;
        }
        ul {
          margin-inline-end: 20px;
          align-self: center;
          display: flex;
          justify-content: space-between;
          li {
            margin-inline-end: 20px;
          }
        }
      }
    }
    &--image {
      width: 300px;
      height: 100%;
      img {
        width: 100%;
        vertical-align: middle;
      }
    }
  }
}

.footer{
  background-color: #212121;
  color: #ffffff;
  padding: 0 20px 10px;
  clear: both;
  &__top{
    width: 1020px;
    margin: 0 auto;
    display: flex;
    &__cell{
      margin-top: 18px;
      padding-right: 40px;
      h2{
        font-size: 16px;
      }
      li{
        margin-top: 14px;
        font-size: 12px;
        opacity: .7;
        a{
          text-decoration:none;
          color: #ffffff;
          width: 40px;
          height: 40px;
          i{
            font-size: 30px;
            padding: 10px 20px 0 0;
          }
        }
      }
      .sns-btn{
        opacity: 1;
      }
      &__dual-box{
        display: flex;
        &--inner-left{
          width:194.19px;
          padding-right:10px;
        }
        &--inner-right{
          width: 194.19px;
          padding-left: 10px;
        }
      }
    }
  }
  &__bottom{
    width: 1020px;
    margin: 30px auto 20px;
    display: flex;
    &--copyright{
      width:745px;
      margin-top: 8px;
      text-align: center;
      small{
        font-size: 12px;
      }
    }
  }
}

@media screen and (min-width: 1068px) {
  .pc-header__box {
    width: 1020px;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 35px;
  }
}