.items-box-container{
  width: 700px;
  margin: 40px auto 0;
  padding: 24px 40px 40px;
  background-color: white;
  .item-name{
    text-align: center;
    h1{
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.item-main-content{
  width: 620px;
  height: 375px;
  margin-top: 16px;
  &__images{
    width: 300px;
    height: 100%;
    float: left;
    position: relative;
    .image-main{
      width: 300px;
      height: 300px;
    }
    .image-low{
      display: flex;
      .image-small img{
        filter: opacity(50%);
      }
      .image-small img:hover{
        filter: initial;
      }
    }
  }
}

.item-main-content__detail-table{
  width: 300px;
  height: 375px;
  float: right;
  font-size: 14px;
  text-align: left;
  th{
    background-color: #FAFAFA;
    width: 39%;
    border: 1px solid #f5f5f5;
    padding: 8px;
  }
  td{
    width: 80px;
    font-size: 14px;
    padding: 8px;
    margin: 1px;
    border: 1px solid #f5f5f5;
    p,span,.fas.fa-chevron-right{
      text-decoration: none;
      color: #0099E8;
      text-align: left;
    }
    .rating{
      display: flex;
      .fas.fa-grin{
        color: #ef5185
      }
      .rating-normal{
        margin-left: 16px;
        .fas.fa-meh{
          color: #fba933;
        }
      }
      .rating-bad{
        margin-left: 16px;
        .fas.fa-frown{
          color: #6ab5d8;
        }
      }
    }
  }
}

.item-detail-price{
  display: flex;
  margin-top: 80px;
  padding-left: 200px;
  &--inclued-tax{
    font-size: 50px;
    font-weight: bold;
    margin-right: 16px;
  }
  &--tax{
    font-size: 10px;
    padding-top: 34px;
  }
  &--postage{
    font-size: 16px;
    padding-top: 28px;
    padding-left: 2px;
  }
}

.item-buy__btn{
  background-color: #ea352d;
  height: 60px;
  margin-top: 16px;
  border: none;
  text-decoration: none;
  a{
    text-align: center;
    line-height: 60px;
  }
  p{
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
}

.item-detail-description{
  width: 620px;
  margin-top: 40px;
  font-size: 18px;
}

.item-button-container{
  width: 620px;
  height: 33px;
  margin-top: 20px;
  display: flex;
}

.item-button-container-left{
  display: flex;
  font-size: 14px;
  .item-button-container__like{
    background-color: #F5F5F5;
    border-radius: 20px;
    width: 125px;
    height:33px;
    text-align: center;
    line-height: 33px;
    span{
      color: #333333;
    }
    .far.fa-heart{
      color: #BBBBBB;
      margin-left: 1px;
    }
  }
  .item-button-container__report{
    background-color: #F5F5F5;
    border-radius: 20px;
    margin-left: 16px;
    width: 180px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    span,.far.fa-flag{
      color: #333333;
    }
  }
}

.item-button-container-right{
  margin-left: 60px;
  font-size: 14px;
  line-height: 33px;
  span,.fas.fa-lock{
    color: #0099E8
  }
}

.items-detail-message__container{
  width: 700px;
  margin: 10px auto;
  background-color: white;
}
.items-detail-message__body{
  padding: 24px;
}

.items-message-content.clearfix{
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
  float: left;
}
.user-face{
  background-color: #EEF0F4;
  border-radius: 50%;
  padding-top: 10px;
}
.chatting {
  width: 600px;
  text-align: left;
  float: right;
}

.time{
  margin-top: 8px;
}
.time span, .far.fa-clock{
  color: #AAAAAA;
  font-size: 14px;
}

.says {
  display: inline-block;
  position: relative; 
  margin-top: 20px;
  padding: 10px;
  width: 580px;
  border-radius: 12px;
  background: #EEF0F4;
  p{
    text-align: left;
  }
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 14px;
}


.items-message-content{
  color: #333333;
  padding: 24px;
  p{
    background-color: #FFF6DE;
    font-size: 14px;
    padding: 8px;
  }
  .message-content{
    background-color: #F5F5F5;
    width: 652px;
    height: 104px;
    margin-top: 10px;
    border: 1px solid #ccc;
  }
  .items-message-content__btn{
    width: 652px;
    height: 50px;
    background-color: #888888;
    margin-top: 8px;
    text-align: center;
    span{
      color: white;
      line-height: 50px;
      font-size: 14px;
    }
  }
}

.nav-item-link{
  width: 700px;
  height: 28px;
  margin: 24px auto;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  .nav-item-link__prev,
  .nav-item-link__next{
  }
  span,
  .fas.fa-chevron-left,
  .fas.fa-chevron-right{
    color: #0099E8;
  }
}

.item-social-mediabox{
  width: 700px;
  height: 138px;
  padding: 32px 0 24px;
  margin: 24px auto;
  background-color: white;
  .social-mediabox{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .facebook-square-box{
      width: 44px;
      height: 44px;
      background-color: #385185;
      border-radius: 4px;
      margin-right: 8px;
      margin-top: 3px;
      .fa-facebook-square{
        font-size: 1.9em;
        color: white;
        line-height: 44px;
        margin-left: 10px;
      }
    }
    .twitter-square-box{
      width: 44px;
      height: 44px;
      border-radius: 4px;
      margin-right: 8px;
      .fab.fa-twitter-square{
        font-size: 3.6em;
        color: #5D9Dc9;
      }
    }
    .pinterest-square-box{
      width: 44px;
      height: 44px;
      background-color: #AA262A;
      border-radius: 4px;
      margin-top: 3px;
      .fab.fa-pinterest-square{
        font-size: 1.8em;
        border-radius: 50%;
        color: white;
        margin-left: 11px;
        line-height: 44px;
      }
    }
  }
}

.items-user-box{
  width: 720px;
  margin: 24px auto;
  &__items{
    h4{
      font-size: 22px;
      margin: 10px 5px;
      font-weight: bold;
      a{
        text-decoration: none;
        color: #0099E8;
      }
    }
    &__row{
      padding-bottom: 20px;
      display: inline-block;
      a{
        text-decoration: none;
      }
      &__userselling-item-box{
        width: 220px;
        height: 345px;
        margin-right: 17px;
        background-color: white;
        &--body{
          height: 110px;
          width: 100%;
          padding: 16px;
          box-sizing: border-box;
          position: relative;
          h5{
            font-size: 16px;
            color: #333333;
            width: 100%;
            height:48px;
            overflow: hidden;
          }
          &--price{
            position: absolute;
            bottom: 10px;
            left: 16px;
            width: 100%;
            height: 30px;
            font-size: 20px;
            color: #333333;
            p{
              font-size: 10px;
              color: #333333;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
