.hide {
  display: none;
}
.fail-comment{
  list-style: none;
  color: $red;
  line-height: 1.5;
  font-size: 14px;
  li{
    margin-top: 8px;
  }
}


#image-list{
  display: flex;
  flex-wrap: wrap;
  width: 630px;
  li{
    margin-bottom: 10px;
  }
}

#image-list-before{
  width: 100%;
}

