.wrapper
  =render "shared/header"

  .owl-carousel
    = image_tag 'carousel/banner-bokurano-heisei.jpg'
  .main-box
    %h2 ピックアップカテゴリー
    = render partial:'shared/item', locals: { items: @items }

  =render "shared/sell-btn"

  =render "shared/app-banner"

  =render "shared/footer"
